<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open</title>
    <style>
        body{
        background-color:rgb(168, 168, 152)

        }
    </style>
</head>
<body>
    <label for="login">This journal belongs to: </label>
    <input type="text" name="login">
    <label for="password">Key:</label>
    <input type="password" name="password">
    <input type="button" value="Open">
</body>
</html>